.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
}

element.style {
    width: 18rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.carousel{
    margin-top: 4rem;
}

.body{
    font-family: 'Roboto','Trebuchet MS','Helvetica,Arial',sans-serif;
}

